.home-guest-menu {
  position: absolute;
  top: 150px;
  right: 15%;
  background-color: white;
  border-radius: 10px;
  z-index: 1000;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  align-content: stretch;
  flex-wrap: nowrap;
  .save-guest {
    cursor: pointer;
    display: inline-block;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    width: auto;
    font-size: 14px;
    border-radius: 8px;
    outline: none;
    padding: 8px 16px;
    border: none;
    background: #ff385c;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .guest-type {
    justify-content: space-between;
    border-bottom: white solid 1px;
    padding: 24px;
    align-items: center;
  }

  .guest-info {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding-left: 3%;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 7rem;
    color: black;
    h3 {
      font-size: 1rem;
      line-height: 1.4rem;
      font-weight: 100;
    }
    p {
      font-size: 0.9rem;
      line-height: 1.2rem;
      font-weight: 100;
      color: rgb(113, 113, 113);
    }
  }


  .guest-num {
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 6.5rem;
    height: 32px;
    color: rgb(34, 34, 34);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-right: 3%;
  }
  .guest-num button {
    -webkit-box-align: center;
    -webkit-box-flex: 0;
    width: 32px;
    height: 32px;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
    display: inline-flex;
    margin: 0px;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(176, 176, 176);
    color: rgb(113, 113, 113);
    font-family: inherit;
    outline: none;
    touch-action: manipulation;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    font-size: 1.2rem;
  }

  .clear {
    cursor: pointer;
    display: inline-block;
    margin: 0px -10px;
    position: absolute;
    text-align: center;
    width: auto;
    // font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 600;
    border-radius: 0.5rem;
    outline: none;
    padding: 0.6rem;
    border: none;
    background-color: rgb(34, 34, 34);
    color: white;
    left: 24.8rem;
    bottom: -2.2rem;
  }

  .guest {
    left: 18rem;
    bottom: 0.7rem;
  }
}
