
.top-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    
    @media (min-width: 800px) {
      grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
    @media (min-width: 1300px) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  gap: 1.5rem;
  .inspiration-card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 600ms ease-in;
    cursor: pointer;
    position: relative;
    .inspiration-card-img {
      @include aspect-ratio(1, 1.2);
      & > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    &:hover {
      box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.849);
    }

    .card__info {
      width: 100%;
      height: 80px;
      border: 1;
      backdrop-filter: blur(10px) saturate(80%);
      background-color: #2525258e;
      color: #e9e9e9;
      padding-top: 10px;
      position: absolute;
      bottom: 0;
      div {
        width: 100%;
        &.address {
          position: relative;
          left: 12px;
          top: -10px;
          
        }
        &.price {
          width: 50%;
          display: inline-block;
          position: relative;
          left: 12px;
        }
        &.rate {
          display: inline-block;
          width: 50%;
          text-align: right;
          position: relative;
          right: 6px;
        }
        & > h2 {
          font-size: 1.3rem;
          font-weight: 400;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 94%;
        }
        & > h3 {
          font-size: 1rem;
          font-weight: 400;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          
          .fas{
          &.fa-star::before {
              font-size: 1rem;

          }
          }
        }
        & > h4 {
          font-size: 1rem;
          font-weight: 200;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
