.become-host-container {
  .host-banner {
    
    overflow: hidden;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    position: relative;
    img {
      overflow: hidden;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transform: translate(20vw, 0vh);
      
    }
    .host-banner-text {
      position: absolute;
      left: 0%;
      color: #fff;
      padding: 40px 12px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 3rem;
      width: 30%;
      height: 100%;
      background-color: #000000;
      backdrop-filter: blur(10px) saturate(40%);
      font-size: 80px;
      overflow: hidden;
    }
  }
}
