.center-layout {
  grid-column: 2;
}

.flex {
  display: flex;
}

.clean-link {
  text-decoration: none;
  color: inherit;
}

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// .square-ratio {
//   @include aspect-ratio(1, 1);
// }
// .video-ratio {
//   @include aspect-ratio(16, 9);
// }
// .portrait-ratio {
//   @include aspect-ratio(9, 16);

//   .entire-layout {
//     grid-column: 1/-1;
//     // padding: 1rem;
//     outline: 5px solid gold;
//   }
//   .center-layout {
//     grid-column: 2;
//   }
// }

// <<<<<<< HEAD
.flex {
  display: flex;
}

// .square-ratio {
//     @include aspect-ratio(1, 1);
// }
// .video-ratio {
//     @include aspect-ratio(16, 9);
// }
// .portrait-ratio {
//     @include aspect-ratio(9, 16);
//   }
// =======

.entire-layout {
  grid-column: 1/-1;
  width: 100%;

  // padding: 1rem;
}
.center-layout {
  grid-column: 2;
}

.clean-link {
  text-decoration: none;
  color: inherit;
}

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.outline {
  outline: 20px solid salmon;
}

.gradient-text {
  background-color: #f3ec78;
  background-image: radial-gradient(
    circle at center,
    #d70466 0%,
    #bd1e59 30%,
    #92174d 55%,
    #861453 72.5%,
    #6c0d63 90%,
    #6c0d63 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  &:hover {
    background-image: radial-gradient(
      circle at center,
      #ff0077 0%,
      #f01062 30%,
      #e0166e 55%,
      #d41880 72.5%,
      #c019af 90%,
      #d116be 100%
    );
  }
  background-image: radial-gradient(
    circle at center,
    #e21776 0%,
    #ca205f 30%,
    #be2568 55%,
    #af2571 72.5%,
    #a8239b 90%,
    #b826a9 100%
  );
}

.clean-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.bg {
  position: fixed;
  cursor: pointer;
  inset: 0;
  background: rgba(241, 242, 247, 0.05);
  backdrop-filter: blur(5px);
}

.screen-details {
  position: fixed;
  opacity: 0.5;

  inset: 0;
}

.title {
  margin-top: 12px;
}
