@font-face {
  font-family: airbnb;
  src: url(../../fonts/brown-regular.ttf);
}

@font-face {
  font-family: circular-light;
  src: url(../../fonts/Circular/CircularStd-Light.otf);
}
@font-face {
  font-family: circular-bold;
  src: url(../../fonts/Circular/CircularStd-Bold.otf);
}
@font-face {
  font-family: circular-medium;
  src: url(../../fonts/Circular/CircularStd-Medium.otf);
}
